/*--------------------------------------------------------------------- File Name: responsive.css ---------------------------------------------------------------------*/
 @media (min-width: 1200px) and (max-width: 1500px) {
     .right_header_info ul li {
         font-size: 16px;
         margin-left: 25px;
    }
     .slider_cont h3 {
         font-size: 36px;
         line-height: 45px;
    }
     .slider_cont p {
         margin-top: 10px;
         margin-bottom: 5px 
    }
}
 @media (min-width: 992px) and (max-width: 1199px) {
     .dinone {
         display: none !important;
    }
     .logo {
         padding-top: 10px;
         display: block;
    }
     .pricing .pricing_box .list a {
        margin-top: 19px;
    }
     .pricing .pricing_box .list ul li span {
        font-size: 18px;
    }
     .pricing .pricing_box .list ul {
        padding: 0px 7px;
    }
     .pricing .pricing_box .list {
        padding: 9% 0px;
    }
}
 @media (min-width: 768px) and (max-width: 991px) {
     .dinone {
         display: none !important;
    }
     .slider_cont {
         display: none;
    }
     .slider_section {
         min-height: auto;
    }
     .logo {
         padding-top: 15px;
         display: block;
    }
     .text_box span {
        font-size: 70px;
         line-height: 64px;
    }
     .text_box h1 {
         font-size: 58px;
         line-height: 60px;
    }
     .text_box a {
        padding: 10px 30px;
    }
     .about .about_box h2 {
         font-size: 39px;
         line-height: 45px;
    }
     .service_box h3 {
        font-size: 23px;
    }
     .mar_bottom {
        padding-right: 15px;
    }
     .pad_left {
        padding-left: 15px;
    }
     .mar_bottom {
         padding-right: 15px !important;
    }
     .opening_bg {
        padding: 59px 5px;
    }
     .times {
         padding: 0px 10px;
    }
     .bbbb {
        padding-left: 9px;
    }
     .carousel-control-prev {
         left: -2px;
         width: 50px;
         height:50px;
         top: 95%;
    }
     .carousel-control-next {
         right: -2px;
         width: 50px;
         height:50px;
         top: 95%;
    }
     .footer h2 {
         padding-left: 17px;
    }
     .main_form {
         padding-left: 17px;
    }
     .Client .Client_box {
         padding: 55px 30px;
    }
}
 @media (min-width: 576px) and (max-width: 767px) {
     .dinone {
         display: none !important;
    }
     .slider_cont {
         display: none;
    }
     .slider_section {
         min-height: auto;
    }
     .text_box span {
        font-size: 64px;
         line-height: 54px;
    }
     .text_box h1 {
        font-size: 53px;
         line-height: 60px;
    }
     .text_box a {
        padding: 10px 30px;
    }
     .banner_bg img {
        height: 430px;
    }
     .title h2 {
         font-size: 34px;
         line-height: 35px;
    }
     .times {
         padding: 0px 10px;
    }
     .about .about_box a {
        margin-bottom: 30px;
    }
     .send {
         margin-bottom: 30px;
    }
     .right_header_info {
        text-align: center;
         float: inherit;
         width: inherit;
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
    }
     .logo {
         text-align: center;
         display: block;
    }
     .ser_icon {
        display: none;
    }
}
 @media (max-width: 575px) {
     .logo {
         text-align: center;
         display: block;
    }
     .ser_icon {
        display: none;
    }
     .right_header_info ul {
         float: inherit;
         float: inherit;
         text-align: center;
         display: flex;
         justify-content: center;
         width: 100%;
    }
     .right_header_info ul li {
         padding-top: 10px;
         margin-left: 10px;
    }
     .dinone {
         display: none !important;
    }
     .slider_cont {
         display: none;
    }
     #main_slider a.carousel-control-prev {
         top: 40%;
         left: 0px;
         width: 50px;
         height: 50px;
    }
     #main_slider a.carousel-control-next {
         top: 60%;
         left: 0px;
         width: 50px;
         height: 50px;
    }
     .slider_section {
         min-height: auto;
    }
     .slider_image img {
         height: 250px;
    }
     .slider_image.full.text_align_center img {
         height: 250px;
    }
     .text_box span {
        font-size: 56px;
         line-height: 54px;
    }
     .text_box h1 {
        font-size: 43px;
         line-height: 50px;
    }
     .text_box a {
        padding: 10px 30px;
    }
     .banner_bg img {
        height: 430px;
    }
     .carousel-control-prev {
         left: -2px;
         width: 50px;
         height:50px;
         top: 95%;
    }
     .carousel-control-next {
         right: -2px;
         width: 50px;
         height:50px;
         top: 95%;
    }
     .about .about_box a {
        margin-bottom: 30px;
    }
     .opening_bg {
        padding: 59px 15px;
    }
     .times {
        padding: 0;
    }
     .times ul li span {
        font-size: 13px;
    }
     .title h2 {
         font-size: 28px;
         line-height: 30px;
    }
     .ourheading h2 {
        font-size: 34px;
         line-height: 40px;
    }
     .about .about_box h2 {
        font-size: 29px;
         line-height: 31px;
    }
     .pricing .pricing_box .list ul {
        width: 100%;
    }
     .right_header_info {
        text-align: center;
         float: inherit;
         width: inherit;
    }
     .send {
         margin-bottom: 30px;
    }
}
 